# scripts
Jinja2>=3.1.2
matplotlib>=3.7.2
numpy>=1.25.2
pyelftools>=0.29
pyserial==3.5
PyYAML>=6.0.1
tqdm>=4.64.0
vunit-hdl==4.7.0

# docs
sphinx>=6.2.1
sphinx-rtd-dark-mode==1.3.0
sphinx-rtd-theme==3.0.2
sphinxcontrib-wavedrom==3.0.4
